.main{
    background-color: var(--ternary-color);
    color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about{
    display: flex;
    flex-direction: column;
    padding: 3rem;
    padding-bottom: 3rem;
    align-content: center;
    

}


.infosesh{
    display: flex;
    flex-direction: column;
    padding: 3rem;
    padding-bottom: 3rem;
    padding-left: 13rem;
    
}

.bigInfo{
    padding-top: 1.5rem;

}

.tours{
    display: flex;
    flex-direction: column;
    padding: 3rem;
    padding-bottom: 3rem;
    padding-left: 13rem;
    
}
.aboutText{
    padding-left: 12rem;
}

.dept{
    display: flex;
    flex-direction: column;
    padding-top: 20rem;
    padding-bottom: 20rem;
    align-items: center;
    

}

.aboutTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
}

.mainText{
    padding-top: 1.5rem;
}

.lines{
    border-top: none;
    border-bottom: 0.2rem solid var(--secondary-color);
    border-left: none;
    border-right: none;
    width: 20rem;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

