.main{
    background-color: var(--ternary-color);
    color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about{
    display: flex;
    flex-direction: column;
    padding: 3rem;

}


.infosesh{
    display: flex;
    flex-direction: column;
    padding: 3rem;
    
}

.tours{
    display: flex;
    flex-direction: column;
    padding: 3rem;
    
}

.dept{
    display: flex;
    flex-direction: column;
    padding: 20rem;
    

}

h1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

