.main{
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
}
.cntacthead{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.line{
    border-top: none;
    border-bottom: 0.2rem solid var(--secondary-color);
    border-left: none;
    border-right: none;
    width: 20rem;
}
.header{
    color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
    padding: 8rem;
}
.subhead{
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
    
}